---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GitHub Actions to Build and Deploy an Astro Site</title>
	</head>
	<body>
		<header><div class="site-title">GitHub Actions to Build and Deploy an Astro Site</div>
            <nav>
                <ul><li><a href="/">Home</a></li>
                <li><a href="/ssh-keys/">SSH Keys</a></li>
            <li><a href="/rsync/">rsync</a></li></ul>
            </nav>
        </header>
        <main>
            <slot/>
        </main>
        <footer>
            This demo is part of CSCI E-12, Fundamentals of Web Application Development taught through Harvard Extension School.
        </footer>
	</body>
</html>
